@model comerciales.Clases.Login
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@{
    @Html.AntiForgeryToken() // Para prevenir ataques al formulario
<div class="padding-15">

    <div class="login-box">

        <!-- login form -->
        <form action="/login/validar" method="post" class="sky-form boxed">
            <header><i class="fa fa-users"></i> Enodje - Login</header>

            <!--
            <div class="alert alert-danger noborder text-center weight-400 nomargin noradius">
                Invalid Email or Password!
            </div>

            <div class="alert alert-warning noborder text-center weight-400 nomargin noradius">
                Account Inactive!
            </div>

            <div class="alert alert-default noborder text-center weight-400 nomargin noradius">
                <strong>Too many failures!</strong> <br />
                Please wait: <span class="inlineCountdown" data-seconds="180"></span>
            </div>
            -->

            <fieldset>

                <section>
                    <label class="label">Usuario</label>
                    @Html.EditorFor(x =>x.usuario, new { htmlAttributes = new { @class = "form-control" } });

                                      
                </section>

                <section>
                    
                    <label class="label">Contraseña</label>
                    @Html.EditorFor(model => model.pass , new { htmlAttributes = new { @class = "form-control",@type="password"  } })
                    

                </section>

            </fieldset>

            <footer>
                <div>@ViewBag.mensaje_error</div>
                <button type="submit" class="btn btn-primary pull-right">Ingresar</button>

            </footer>
        </form>
        <!-- /login form -->

        <hr>



    </div>

</div>
}

