@{
    ViewBag.Title = "Contact";
}
<header id="page-header">
    <h1>@ViewBag.Title.</h1>
    <ol class="breadcrumb">
        <li><a href="#">@ViewBag.Title.</a></li>
        <li class="active">@ViewBag.Message</li>
    </ol>
</header>

<div id="content" class="padding-20">

    <!--
        PANEL CLASSES:
            panel-default
            panel-danger
            panel-warning
            panel-info
            panel-success

        INFO: 	panel collapse - stored on user localStorage (handled by app.js _panels() function).
                All pannels should have an unique ID or the panel collapse status will not be stored!
    -->
    <div id="panel-1" class="panel panel-default">
        <div class="panel-heading">
            <span class="title elipsis">
                <strong>CLEAN TABLE</strong> <!-- panel title -->
            </span>

            <!-- right options -->
            <ul class="options pull-right list-inline">
                <li><a href="#" class="opt panel_colapse" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Colapse"></a></li>
                <li><a href="#" class="opt panel_fullscreen hidden-xs" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Fullscreen"><i class="fa fa-expand"></i></a></li>
                <li><a href="#" class="opt panel_close" data-confirm-title="Confirm" data-confirm-message="Are you sure you want to remove this panel?" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Close"><i class="fa fa-times"></i></a></li>
            </ul>
            <!-- /right options -->

        </div>

        <!-- panel content -->
        <div class="panel-body">

            <div class="table-responsive">
                <table class="table table-bordered table-vertical-middle nomargin">
                    <thead>
                        <tr>
                            <th class="width-30">Img</th>
                            <th>Column name</th>
                            <th>Ratings</th>
                            <th>Progress</th>
                            <th>Share</th>
                            <th>Column name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center"><img src="assets/images/male.png" alt="" width="20"></td>
                            <td>Value 1</td>
                            <td><div class="rating rating-0 size-13 width-100"><!-- rating-0 ... rating-5 --></div></td>
                            <td>
                                <div class="progress progress-xxs margin-bottom-0">
                                    <div class="progress-bar progress-bar-default" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%; min-width: 2em;">
                                        <span class="sr-only">80% Complete</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <ul class="list-inline nomargin size-12">
                                    <li><a href="#" class="icon-facebook margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook"></a></li>
                                    <li><a href="#" class="icon-twitter margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter"></a></li>
                                    <li><a href="#" class="icon-gplus margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus"></a></li>
                                    <li><a href="#" class="icon-linkedin margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin"></a></li>
                                    <li><a href="#" class="icon-pinterest margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest"></a></li>
                                </ul>
                            </td>
                            <td><span class="label label-success">Approved </span></td>
                        </tr>
                        <tr>
                            <td class="text-center"><img src="assets/images/female.png" alt="" width="20"></td>
                            <td>Value 2</td>
                            <td><div class="rating rating-1 size-13 width-100"><!-- rating-0 ... rating-5 --></div></td>
                            <td>
                                <div class="progress progress-xxs margin-bottom-0">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%; min-width: 2em;">
                                        <span class="sr-only">80% Complete</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <ul class="list-inline nomargin size-12">
                                    <li><a href="#" class="icon-facebook margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook"></a></li>
                                    <li><a href="#" class="icon-twitter margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter"></a></li>
                                    <li><a href="#" class="icon-gplus margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus"></a></li>
                                    <li><a href="#" class="icon-linkedin margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin"></a></li>
                                    <li><a href="#" class="icon-pinterest margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest"></a></li>
                                </ul>
                            </td>
                            <td><span class="label label-info">Pending </span></td>
                        </tr>
                        <tr>
                            <td class="text-center"><img src="assets/images/female.png" alt="" width="20"></td>
                            <td>Value 3</td>
                            <td><div class="rating rating-2 size-13 width-100"><!-- rating-0 ... rating-5 --></div></td>
                            <td>
                                <div class="progress progress-xxs margin-bottom-0">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%; min-width: 2em;">
                                        <span class="sr-only">80% Complete</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <ul class="list-inline nomargin size-12">
                                    <li><a href="#" class="icon-facebook margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook"></a></li>
                                    <li><a href="#" class="icon-twitter margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter"></a></li>
                                    <li><a href="#" class="icon-gplus margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus"></a></li>
                                    <li><a href="#" class="icon-linkedin margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin"></a></li>
                                    <li><a href="#" class="icon-pinterest margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest"></a></li>
                                </ul>
                            </td>
                            <td><span class="label label-warning">Suspended </span></td>
                        </tr>
                        <tr>
                            <td class="text-center"><img src="assets/images/male.png" alt="" width="20"></td>
                            <td>Value 4</td>
                            <td><div class="rating rating-3 size-13 width-100"><!-- rating-0 ... rating-5 --></div></td>
                            <td>
                                <div class="progress progress-xxs margin-bottom-0">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%; min-width: 2em;">
                                        <span class="sr-only">80% Complete</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <ul class="list-inline nomargin size-12">
                                    <li><a href="#" class="icon-facebook margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook"></a></li>
                                    <li><a href="#" class="icon-twitter margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter"></a></li>
                                    <li><a href="#" class="icon-gplus margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus"></a></li>
                                    <li><a href="#" class="icon-linkedin margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin"></a></li>
                                    <li><a href="#" class="icon-pinterest margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest"></a></li>
                                </ul>
                            </td>
                            <td><span class="label label-danger">Blocked </span></td>
                        </tr>
                        <tr>
                            <td class="text-center"><img src="assets/images/male.png" alt="" width="20"></td>
                            <td>Value 5</td>
                            <td><div class="rating rating-4 size-13 width-100"><!-- rating-0 ... rating-5 --></div></td>
                            <td>
                                <div class="progress progress-xxs margin-bottom-0">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%; min-width: 2em;">
                                        <span class="sr-only">80% Complete</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <ul class="list-inline nomargin size-12">
                                    <li><a href="#" class="icon-facebook margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook"></a></li>
                                    <li><a href="#" class="icon-twitter margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter"></a></li>
                                    <li><a href="#" class="icon-gplus margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus"></a></li>
                                    <li><a href="#" class="icon-linkedin margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin"></a></li>
                                    <li><a href="#" class="icon-pinterest margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest"></a></li>
                                </ul>
                            </td>
                            <td><span class="label label-primary">N/A </span></td>
                        </tr>
                        <tr>
                            <td class="text-center"><img src="assets/images/female.png" alt="" width="20"></td>
                            <td>Value 6</td>
                            <td><div class="rating rating-5 size-13 width-100"><!-- rating-0 ... rating-5 --></div></td>
                            <td>
                                <div class="progress progress-xxs margin-bottom-0">
                                    <div class="progress-bar progress-bar-default" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%; min-width: 2em;">
                                        <span class="sr-only">80% Complete</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <ul class="list-inline nomargin size-12">
                                    <li><a href="#" class="icon-facebook margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook"></a></li>
                                    <li><a href="#" class="icon-twitter margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter"></a></li>
                                    <li><a href="#" class="icon-gplus margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus"></a></li>
                                    <li><a href="#" class="icon-linkedin margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin"></a></li>
                                    <li><a href="#" class="icon-pinterest margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest"></a></li>
                                </ul>
                            </td>
                            <td>
                                <a href="#" class="btn btn-default btn-xs"><i class="fa fa-edit white"></i> Edit </a>
                                <a href="#" class="btn btn-default btn-xs"><i class="fa fa-times white"></i> Delete </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <!-- /panel content -->
        <!-- panel footer -->
        <div class="panel-footer">

            <!-- pre code -->
            <div class="text-left">
                <a class="btn btn-xs btn-info" href="javascript:;" onclick="jQuery('#pre-0').slideToggle();">Show Code</a>
            </div>
<pre id="pre-0" class="text-left noradius text-danger softhide margin-top-10">&lt;div class="table-responsive"&gt;
	&lt;table class="table table-bordered nomargin"&gt;
		&lt;thead&gt;
			&lt;tr&gt;
				&lt;th&gt;Column name&lt;/th&gt;
				&lt;th&gt;Column name&lt;/th&gt;
				&lt;th&gt;Column name&lt;/th&gt;
			&lt;/tr&gt;
		&lt;/thead&gt;
		&lt;tbody&gt;
			&lt;tr&gt;
				&lt;td&gt;Value 1&lt;/td&gt;
				&lt;td&gt;Value 2&lt;/td&gt;
				&lt;td&gt;&lt;span class="label label-success"&gt;Approved &lt;/span&gt;&lt;/td&gt;
			&lt;/tr&gt;
			&lt;tr&gt;
				&lt;td&gt;Value 1&lt;/td&gt;
				&lt;td&gt;Value 2&lt;/td&gt;
				&lt;td&gt;&lt;span class="label label-info"&gt;Pending &lt;/span&gt;&lt;/td&gt;
			&lt;/tr&gt;
			&lt;tr&gt;
				&lt;td&gt;Value 1&lt;/td&gt;
				&lt;td&gt;Value 2&lt;/td&gt;
				&lt;td&gt;&lt;span class="label label-warning"&gt;Suspended &lt;/span&gt;&lt;/td&gt;
			&lt;/tr&gt;
			&lt;tr&gt;
				&lt;td&gt;Value 1&lt;/td&gt;
				&lt;td&gt;Value 2&lt;/td&gt;
				&lt;td&gt;&lt;span class="label label-danger"&gt;Blocked &lt;/span&gt;&lt;/td&gt;
			&lt;/tr&gt;
			&lt;tr&gt;
				&lt;td&gt;Value 1&lt;/td&gt;
				&lt;td&gt;Value 2&lt;/td&gt;
				&lt;td&gt;&lt;span class="label label-primary"&gt;N/A &lt;/span&gt;&lt;/td&gt;
			&lt;/tr&gt;
			&lt;tr&gt;
				&lt;td&gt;Value 1&lt;/td&gt;
				&lt;td&gt;Value 2&lt;/td&gt;
				&lt;td&gt;
					&lt;a href="#" class="btn btn-default btn-xs"&gt;&lt;i class="fa fa-edit white"&gt;&lt;/i&gt; Edit &lt;/a&gt;
					&lt;a href="#" class="btn btn-default btn-xs"&gt;&lt;i class="fa fa-times white"&gt;&lt;/i&gt; Delete &lt;/a&gt;
				&lt;/td&gt;
			&lt;/tr&gt;
		&lt;/tbody&gt;
	&lt;/table&gt;
&lt;/div&gt;
</pre>
            <!-- /pre code -->

        </div>
        <!-- /panel footer -->

    </div>
    <!-- /PANEL -->
    <!--
        PANEL CLASSES:
            panel-default
            panel-danger
            panel-warning
            panel-info
            panel-success

        INFO: 	panel collapse - stored on user localStorage (handled by app.js _panels() function).
                All pannels should have an unique ID or the panel collapse status will not be stored!
    -->
    <div id="panel-2" class="panel panel-default">
        <div class="panel-heading">
            <span class="title elipsis">
                <strong>HOVER TABLE</strong> <!-- panel title -->
            </span>

            <!-- right options -->
            <ul class="options pull-right list-inline">
                <li><a href="#" class="opt panel_colapse" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Colapse"></a></li>
                <li><a href="#" class="opt panel_fullscreen hidden-xs" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Fullscreen"><i class="fa fa-expand"></i></a></li>
                <li><a href="#" class="opt panel_close" data-confirm-title="Confirm" data-confirm-message="Are you sure you want to remove this panel?" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Close"><i class="fa fa-times"></i></a></li>
            </ul>
            <!-- /right options -->

        </div>

        <!-- panel content -->
        <div class="panel-body">

            <div class="table-responsive">
                <table class="table table-hover table-vertical-middle nomargin">
                    <thead>
                        <tr>
                            <th class="width-30">Img</th>
                            <th>Column name</th>
                            <th>Ratings</th>
                            <th>Progress</th>
                            <th>Share</th>
                            <th>Column name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center"><img src="assets/images/male.png" alt="" width="20"></td>
                            <td>Value 1</td>
                            <td><div class="rating rating-0 size-13 width-100"><!-- rating-0 ... rating-5 --></div></td>
                            <td>
                                <div class="progress progress-xxs margin-bottom-0">
                                    <div class="progress-bar progress-bar-default" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%; min-width: 2em;">
                                        <span class="sr-only">80% Complete</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <ul class="list-inline nomargin size-12">
                                    <li><a href="#" class="icon-facebook margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook"></a></li>
                                    <li><a href="#" class="icon-twitter margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter"></a></li>
                                    <li><a href="#" class="icon-gplus margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus"></a></li>
                                    <li><a href="#" class="icon-linkedin margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin"></a></li>
                                    <li><a href="#" class="icon-pinterest margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest"></a></li>
                                </ul>
                            </td>
                            <td><span class="label label-success">Approved </span></td>
                        </tr>
                        <tr>
                            <td class="text-center"><img src="assets/images/female.png" alt="" width="20"></td>
                            <td>Value 2</td>
                            <td><div class="rating rating-1 size-13 width-100"><!-- rating-0 ... rating-5 --></div></td>
                            <td>
                                <div class="progress progress-xxs margin-bottom-0">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%; min-width: 2em;">
                                        <span class="sr-only">80% Complete</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <ul class="list-inline nomargin size-12">
                                    <li><a href="#" class="icon-facebook margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook"></a></li>
                                    <li><a href="#" class="icon-twitter margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter"></a></li>
                                    <li><a href="#" class="icon-gplus margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus"></a></li>
                                    <li><a href="#" class="icon-linkedin margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin"></a></li>
                                    <li><a href="#" class="icon-pinterest margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest"></a></li>
                                </ul>
                            </td>
                            <td><span class="label label-info">Pending </span></td>
                        </tr>
                        <tr>
                            <td class="text-center"><img src="assets/images/female.png" alt="" width="20"></td>
                            <td>Value 3</td>
                            <td><div class="rating rating-2 size-13 width-100"><!-- rating-0 ... rating-5 --></div></td>
                            <td>
                                <div class="progress progress-xxs margin-bottom-0">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%; min-width: 2em;">
                                        <span class="sr-only">80% Complete</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <ul class="list-inline nomargin size-12">
                                    <li><a href="#" class="icon-facebook margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook"></a></li>
                                    <li><a href="#" class="icon-twitter margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter"></a></li>
                                    <li><a href="#" class="icon-gplus margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus"></a></li>
                                    <li><a href="#" class="icon-linkedin margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin"></a></li>
                                    <li><a href="#" class="icon-pinterest margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest"></a></li>
                                </ul>
                            </td>
                            <td><span class="label label-warning">Suspended </span></td>
                        </tr>
                        <tr>
                            <td class="text-center"><img src="assets/images/male.png" alt="" width="20"></td>
                            <td>Value 4</td>
                            <td><div class="rating rating-3 size-13 width-100"><!-- rating-0 ... rating-5 --></div></td>
                            <td>
                                <div class="progress progress-xxs margin-bottom-0">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%; min-width: 2em;">
                                        <span class="sr-only">80% Complete</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <ul class="list-inline nomargin size-12">
                                    <li><a href="#" class="icon-facebook margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook"></a></li>
                                    <li><a href="#" class="icon-twitter margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter"></a></li>
                                    <li><a href="#" class="icon-gplus margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus"></a></li>
                                    <li><a href="#" class="icon-linkedin margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin"></a></li>
                                    <li><a href="#" class="icon-pinterest margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest"></a></li>
                                </ul>
                            </td>
                            <td><span class="label label-danger">Blocked </span></td>
                        </tr>
                        <tr>
                            <td class="text-center"><img src="assets/images/male.png" alt="" width="20"></td>
                            <td>Value 5</td>
                            <td><div class="rating rating-4 size-13 width-100"><!-- rating-0 ... rating-5 --></div></td>
                            <td>
                                <div class="progress progress-xxs margin-bottom-0">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%; min-width: 2em;">
                                        <span class="sr-only">80% Complete</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <ul class="list-inline nomargin size-12">
                                    <li><a href="#" class="icon-facebook margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook"></a></li>
                                    <li><a href="#" class="icon-twitter margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter"></a></li>
                                    <li><a href="#" class="icon-gplus margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus"></a></li>
                                    <li><a href="#" class="icon-linkedin margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin"></a></li>
                                    <li><a href="#" class="icon-pinterest margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest"></a></li>
                                </ul>
                            </td>
                            <td><span class="label label-primary">N/A </span></td>
                        </tr>
                        <tr>
                            <td class="text-center"><img src="assets/images/female.png" alt="" width="20"></td>
                            <td>Value 6</td>
                            <td><div class="rating rating-5 size-13 width-100"><!-- rating-0 ... rating-5 --></div></td>
                            <td>
                                <div class="progress progress-xxs margin-bottom-0">
                                    <div class="progress-bar progress-bar-default" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%; min-width: 2em;">
                                        <span class="sr-only">80% Complete</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <ul class="list-inline nomargin size-12">
                                    <li><a href="#" class="icon-facebook margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook"></a></li>
                                    <li><a href="#" class="icon-twitter margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter"></a></li>
                                    <li><a href="#" class="icon-gplus margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus"></a></li>
                                    <li><a href="#" class="icon-linkedin margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin"></a></li>
                                    <li><a href="#" class="icon-pinterest margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest"></a></li>
                                </ul>
                            </td>
                            <td>
                                <a href="#" class="btn btn-default btn-xs"><i class="fa fa-edit white"></i> Edit </a>
                                <a href="#" class="btn btn-default btn-xs"><i class="fa fa-times white"></i> Delete </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>


        </div>
        <!-- /panel content -->
        <!-- panel footer -->
        <div class="panel-footer">

            <!-- pre code -->
            <div class="text-left">
                <a class="btn btn-xs btn-info" href="javascript:;" onclick="jQuery('#pre-1').slideToggle();">Show Code</a>
            </div>
<pre id="pre-1" class="text-left noradius text-danger softhide margin-top-10">&lt;div class="table-responsive"&gt;
	&lt;table class="table table-hover nomargin"&gt;
		&lt;thead&gt;
			&lt;tr&gt;
				&lt;th&gt;Column name&lt;/th&gt;
				&lt;th&gt;Column name&lt;/th&gt;
				&lt;th&gt;Column name&lt;/th&gt;
			&lt;/tr&gt;
		&lt;/thead&gt;
		&lt;tbody&gt;
			&lt;tr&gt;
				&lt;td&gt;Value 1&lt;/td&gt;
				&lt;td&gt;Value 2&lt;/td&gt;
				&lt;td&gt;Value 3&lt;/td&gt;
			&lt;/tr&gt;
			&lt;tr&gt;
				&lt;td&gt;Value 1&lt;/td&gt;
				&lt;td&gt;Value 2&lt;/td&gt;
				&lt;td&gt;Value 3&lt;/td&gt;
			&lt;/tr&gt;
			&lt;tr&gt;
				&lt;td&gt;Value 1&lt;/td&gt;
				&lt;td&gt;Value 2&lt;/td&gt;
				&lt;td&gt;Value 3&lt;/td&gt;
			&lt;/tr&gt;
			&lt;tr&gt;
				&lt;td&gt;Value 1&lt;/td&gt;
				&lt;td&gt;Value 2&lt;/td&gt;
				&lt;td&gt;Value 3&lt;/td&gt;
			&lt;/tr&gt;
			&lt;tr&gt;
				&lt;td&gt;Value 1&lt;/td&gt;
				&lt;td&gt;Value 2&lt;/td&gt;
				&lt;td&gt;Value 3&lt;/td&gt;
			&lt;/tr&gt;
			&lt;tr&gt;
				&lt;td&gt;Value 1&lt;/td&gt;
				&lt;td&gt;Value 2&lt;/td&gt;
				&lt;td&gt;Value 3&lt;/td&gt;
			&lt;/tr&gt;
		&lt;/tbody&gt;
	&lt;/table&gt;
&lt;/div&gt;
</pre>
            <!-- /pre code -->

        </div>
        <!-- /panel footer -->

    </div>
    <!-- /PANEL -->
    <!--
        PANEL CLASSES:
            panel-default
            panel-danger
            panel-warning
            panel-info
            panel-success

        INFO: 	panel collapse - stored on user localStorage (handled by app.js _panels() function).
                All pannels should have an unique ID or the panel collapse status will not be stored!
    -->
    <div id="panel-3" class="panel panel-default">
        <div class="panel-heading">
            <span class="title elipsis">
                <strong>STRIPPED TABLE</strong> <!-- panel title -->
            </span>

            <!-- right options -->
            <ul class="options pull-right list-inline">
                <li><a href="#" class="opt panel_colapse" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Colapse"></a></li>
                <li><a href="#" class="opt panel_fullscreen hidden-xs" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Fullscreen"><i class="fa fa-expand"></i></a></li>
                <li><a href="#" class="opt panel_close" data-confirm-title="Confirm" data-confirm-message="Are you sure you want to remove this panel?" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Close"><i class="fa fa-times"></i></a></li>
            </ul>
            <!-- /right options -->

        </div>

        <!-- panel content -->
        <div class="panel-body">

            <div class="table-responsive nomargin">
                <table class="table table-bordered table-striped table-vertical-middle">
                    <thead>
                        <tr>
                            <th class="width-30">Img</th>
                            <th>Column name</th>
                            <th>Ratings</th>
                            <th>Progress</th>
                            <th>Share</th>
                            <th>Column name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center"><img src="assets/images/male.png" alt="" width="20"></td>
                            <td>Value 1</td>
                            <td><div class="rating rating-0 size-13 width-100"><!-- rating-0 ... rating-5 --></div></td>
                            <td>
                                <div class="progress progress-xxs margin-bottom-0">
                                    <div class="progress-bar progress-bar-default" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%; min-width: 2em;">
                                        <span class="sr-only">80% Complete</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <ul class="list-inline nomargin size-12">
                                    <li><a href="#" class="icon-facebook margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook"></a></li>
                                    <li><a href="#" class="icon-twitter margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter"></a></li>
                                    <li><a href="#" class="icon-gplus margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus"></a></li>
                                    <li><a href="#" class="icon-linkedin margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin"></a></li>
                                    <li><a href="#" class="icon-pinterest margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest"></a></li>
                                </ul>
                            </td>
                            <td><span class="label label-success">Approved </span></td>
                        </tr>
                        <tr>
                            <td class="text-center"><img src="assets/images/female.png" alt="" width="20"></td>
                            <td>Value 2</td>
                            <td><div class="rating rating-1 size-13 width-100"><!-- rating-0 ... rating-5 --></div></td>
                            <td>
                                <div class="progress progress-xxs margin-bottom-0">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%; min-width: 2em;">
                                        <span class="sr-only">80% Complete</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <ul class="list-inline nomargin size-12">
                                    <li><a href="#" class="icon-facebook margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook"></a></li>
                                    <li><a href="#" class="icon-twitter margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter"></a></li>
                                    <li><a href="#" class="icon-gplus margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus"></a></li>
                                    <li><a href="#" class="icon-linkedin margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin"></a></li>
                                    <li><a href="#" class="icon-pinterest margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest"></a></li>
                                </ul>
                            </td>
                            <td><span class="label label-info">Pending </span></td>
                        </tr>
                        <tr>
                            <td class="text-center"><img src="assets/images/female.png" alt="" width="20"></td>
                            <td>Value 3</td>
                            <td><div class="rating rating-2 size-13 width-100"><!-- rating-0 ... rating-5 --></div></td>
                            <td>
                                <div class="progress progress-xxs margin-bottom-0">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%; min-width: 2em;">
                                        <span class="sr-only">80% Complete</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <ul class="list-inline nomargin size-12">
                                    <li><a href="#" class="icon-facebook margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook"></a></li>
                                    <li><a href="#" class="icon-twitter margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter"></a></li>
                                    <li><a href="#" class="icon-gplus margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus"></a></li>
                                    <li><a href="#" class="icon-linkedin margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin"></a></li>
                                    <li><a href="#" class="icon-pinterest margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest"></a></li>
                                </ul>
                            </td>
                            <td><span class="label label-warning">Suspended </span></td>
                        </tr>
                        <tr>
                            <td class="text-center"><img src="assets/images/male.png" alt="" width="20"></td>
                            <td>Value 4</td>
                            <td><div class="rating rating-3 size-13 width-100"><!-- rating-0 ... rating-5 --></div></td>
                            <td>
                                <div class="progress progress-xxs margin-bottom-0">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%; min-width: 2em;">
                                        <span class="sr-only">80% Complete</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <ul class="list-inline nomargin size-12">
                                    <li><a href="#" class="icon-facebook margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook"></a></li>
                                    <li><a href="#" class="icon-twitter margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter"></a></li>
                                    <li><a href="#" class="icon-gplus margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus"></a></li>
                                    <li><a href="#" class="icon-linkedin margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin"></a></li>
                                    <li><a href="#" class="icon-pinterest margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest"></a></li>
                                </ul>
                            </td>
                            <td><span class="label label-danger">Blocked </span></td>
                        </tr>
                        <tr>
                            <td class="text-center"><img src="assets/images/male.png" alt="" width="20"></td>
                            <td>Value 5</td>
                            <td><div class="rating rating-4 size-13 width-100"><!-- rating-0 ... rating-5 --></div></td>
                            <td>
                                <div class="progress progress-xxs margin-bottom-0">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%; min-width: 2em;">
                                        <span class="sr-only">80% Complete</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <ul class="list-inline nomargin size-12">
                                    <li><a href="#" class="icon-facebook margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook"></a></li>
                                    <li><a href="#" class="icon-twitter margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter"></a></li>
                                    <li><a href="#" class="icon-gplus margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus"></a></li>
                                    <li><a href="#" class="icon-linkedin margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin"></a></li>
                                    <li><a href="#" class="icon-pinterest margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest"></a></li>
                                </ul>
                            </td>
                            <td><span class="label label-primary">N/A </span></td>
                        </tr>
                        <tr>
                            <td class="text-center"><img src="assets/images/female.png" alt="" width="20"></td>
                            <td>Value 6</td>
                            <td><div class="rating rating-5 size-13 width-100"><!-- rating-0 ... rating-5 --></div></td>
                            <td>
                                <div class="progress progress-xxs margin-bottom-0">
                                    <div class="progress-bar progress-bar-default" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%; min-width: 2em;">
                                        <span class="sr-only">80% Complete</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <ul class="list-inline nomargin size-12">
                                    <li><a href="#" class="icon-facebook margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook"></a></li>
                                    <li><a href="#" class="icon-twitter margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter"></a></li>
                                    <li><a href="#" class="icon-gplus margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus"></a></li>
                                    <li><a href="#" class="icon-linkedin margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin"></a></li>
                                    <li><a href="#" class="icon-pinterest margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest"></a></li>
                                </ul>
                            </td>
                            <td>
                                <a href="#" class="btn btn-default btn-xs"><i class="fa fa-edit white"></i> Edit </a>
                                <a href="#" class="btn btn-default btn-xs"><i class="fa fa-times white"></i> Delete </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>


        </div>
        <!-- /panel content -->
        <!-- panel footer -->
        <div class="panel-footer">

            <!-- pre code -->
            <div class="text-left">
                <a class="btn btn-xs btn-info" href="javascript:;" onclick="jQuery('#pre-2').slideToggle();">Show Code</a>
            </div>
<pre id="pre-2" class="text-left noradius text-danger softhide">&lt;div class="table-responsive nomargin"&gt;
	&lt;table class="table table-bordered table-striped"&gt;
		&lt;thead&gt;
			&lt;tr&gt;
				&lt;th&gt;&lt;i class="fa fa-building pull-right hidden-xs"&gt;&lt;/i&gt; Column name&lt;/th&gt;
				&lt;th&gt;&lt;i class="fa fa-calendar pull-right hidden-xs"&gt;&lt;/i&gt; Column name&lt;/th&gt;
				&lt;th&gt;&lt;i class="glyphicon glyphicon-send pull-right hidden-xs"&gt;&lt;/i&gt; Column name&lt;/th&gt;
			&lt;/tr&gt;
		&lt;/thead&gt;
		&lt;tbody&gt;
			&lt;tr&gt;
				&lt;td&gt;Value 1&lt;/td&gt;
				&lt;td&gt;Value 2&lt;/td&gt;
				&lt;td&gt;Value 3&lt;/td&gt;
			&lt;/tr&gt;
			&lt;tr&gt;
				&lt;td&gt;Value 1&lt;/td&gt;
				&lt;td&gt;Value 2&lt;/td&gt;
				&lt;td&gt;Value 3&lt;/td&gt;
			&lt;/tr&gt;
			&lt;tr&gt;
				&lt;td&gt;Value 1&lt;/td&gt;
				&lt;td&gt;Value 2&lt;/td&gt;
				&lt;td&gt;Value 3&lt;/td&gt;
			&lt;/tr&gt;
			&lt;tr&gt;
				&lt;td&gt;Value 1&lt;/td&gt;
				&lt;td&gt;Value 2&lt;/td&gt;
				&lt;td&gt;Value 3&lt;/td&gt;
			&lt;/tr&gt;
			&lt;tr&gt;
				&lt;td&gt;Value 1&lt;/td&gt;
				&lt;td&gt;Value 2&lt;/td&gt;
				&lt;td&gt;Value 3&lt;/td&gt;
			&lt;/tr&gt;
			&lt;tr&gt;
				&lt;td&gt;Value 1&lt;/td&gt;
				&lt;td&gt;Value 2&lt;/td&gt;
				&lt;td&gt;Value 3&lt;/td&gt;
			&lt;/tr&gt;
		&lt;/tbody&gt;
	&lt;/table&gt;
&lt;/div&gt;
</pre>
            <!-- /pre code -->

        </div>
        <!-- /panel footer -->

    </div>
    <!-- /PANEL -->
    <!--
        PANEL CLASSES:
            panel-default
            panel-danger
            panel-warning
            panel-info
            panel-success

        INFO: 	panel collapse - stored on user localStorage (handled by app.js _panels() function).
                All pannels should have an unique ID or the panel collapse status will not be stored!
    -->
    <div id="panel-4" class="panel panel-default">
        <div class="panel-heading">
            <span class="title elipsis">
                <strong>COLOR TABLE</strong> <!-- panel title -->
            </span>

            <!-- right options -->
            <ul class="options pull-right list-inline">
                <li><a href="#" class="opt panel_colapse" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Colapse"></a></li>
                <li><a href="#" class="opt panel_fullscreen hidden-xs" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Fullscreen"><i class="fa fa-expand"></i></a></li>
                <li><a href="#" class="opt panel_close" data-confirm-title="Confirm" data-confirm-message="Are you sure you want to remove this panel?" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Close"><i class="fa fa-times"></i></a></li>
            </ul>
            <!-- /right options -->

        </div>

        <!-- panel content -->
        <div class="panel-body">

            <div class="table-responsive">
                <table class="table table-vertical-middle nomargin">
                    <thead>
                        <tr>
                            <th class="width-30">Img</th>
                            <th>Column name</th>
                            <th>Ratings</th>
                            <th>Progress</th>
                            <th>Share</th>
                            <th>Column name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="success">
                            <td class="text-center"><img src="assets/images/male.png" alt="" width="20"></td>
                            <td>Value 1</td>
                            <td><div class="rating rating-0 size-13 width-100"><!-- rating-0 ... rating-5 --></div></td>
                            <td>
                                <div class="progress progress-xxs margin-bottom-0">
                                    <div class="progress-bar progress-bar-default" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%; min-width: 2em;">
                                        <span class="sr-only">80% Complete</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <ul class="list-inline nomargin size-12">
                                    <li><a href="#" class="icon-facebook margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook"></a></li>
                                    <li><a href="#" class="icon-twitter margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter"></a></li>
                                    <li><a href="#" class="icon-gplus margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus"></a></li>
                                    <li><a href="#" class="icon-linkedin margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin"></a></li>
                                    <li><a href="#" class="icon-pinterest margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest"></a></li>
                                </ul>
                            </td>
                            <td><span class="label label-success">Approved </span></td>
                        </tr>
                        <tr class="warning">
                            <td class="text-center"><img src="assets/images/female.png" alt="" width="20"></td>
                            <td>Value 2</td>
                            <td><div class="rating rating-1 size-13 width-100"><!-- rating-0 ... rating-5 --></div></td>
                            <td>
                                <div class="progress progress-xxs margin-bottom-0">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%; min-width: 2em;">
                                        <span class="sr-only">80% Complete</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <ul class="list-inline nomargin size-12">
                                    <li><a href="#" class="icon-facebook margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook"></a></li>
                                    <li><a href="#" class="icon-twitter margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter"></a></li>
                                    <li><a href="#" class="icon-gplus margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus"></a></li>
                                    <li><a href="#" class="icon-linkedin margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin"></a></li>
                                    <li><a href="#" class="icon-pinterest margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest"></a></li>
                                </ul>
                            </td>
                            <td><span class="label label-info">Pending </span></td>
                        </tr>
                        <tr class="danger">
                            <td class="text-center"><img src="assets/images/female.png" alt="" width="20"></td>
                            <td>Value 3</td>
                            <td><div class="rating rating-2 size-13 width-100"><!-- rating-0 ... rating-5 --></div></td>
                            <td>
                                <div class="progress progress-xxs margin-bottom-0">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%; min-width: 2em;">
                                        <span class="sr-only">80% Complete</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <ul class="list-inline nomargin size-12">
                                    <li><a href="#" class="icon-facebook margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook"></a></li>
                                    <li><a href="#" class="icon-twitter margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter"></a></li>
                                    <li><a href="#" class="icon-gplus margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus"></a></li>
                                    <li><a href="#" class="icon-linkedin margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin"></a></li>
                                    <li><a href="#" class="icon-pinterest margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest"></a></li>
                                </ul>
                            </td>
                            <td><span class="label label-warning">Suspended </span></td>
                        </tr>
                        <tr class="info">
                            <td class="text-center"><img src="assets/images/male.png" alt="" width="20"></td>
                            <td>Value 4</td>
                            <td><div class="rating rating-3 size-13 width-100"><!-- rating-0 ... rating-5 --></div></td>
                            <td>
                                <div class="progress progress-xxs margin-bottom-0">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%; min-width: 2em;">
                                        <span class="sr-only">80% Complete</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <ul class="list-inline nomargin size-12">
                                    <li><a href="#" class="icon-facebook margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook"></a></li>
                                    <li><a href="#" class="icon-twitter margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter"></a></li>
                                    <li><a href="#" class="icon-gplus margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus"></a></li>
                                    <li><a href="#" class="icon-linkedin margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin"></a></li>
                                    <li><a href="#" class="icon-pinterest margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest"></a></li>
                                </ul>
                            </td>
                            <td><span class="label label-danger">Blocked </span></td>
                        </tr>
                        <tr class="active">
                            <td class="text-center"><img src="assets/images/male.png" alt="" width="20"></td>
                            <td>Value 5</td>
                            <td><div class="rating rating-4 size-13 width-100"><!-- rating-0 ... rating-5 --></div></td>
                            <td>
                                <div class="progress progress-xxs margin-bottom-0">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%; min-width: 2em;">
                                        <span class="sr-only">80% Complete</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <ul class="list-inline nomargin size-12">
                                    <li><a href="#" class="icon-facebook margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook"></a></li>
                                    <li><a href="#" class="icon-twitter margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter"></a></li>
                                    <li><a href="#" class="icon-gplus margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus"></a></li>
                                    <li><a href="#" class="icon-linkedin margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin"></a></li>
                                    <li><a href="#" class="icon-pinterest margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest"></a></li>
                                </ul>
                            </td>
                            <td><span class="label label-primary">N/A </span></td>
                        </tr>
                        <tr>
                            <td class="text-center"><img src="assets/images/female.png" alt="" width="20"></td>
                            <td>Value 6</td>
                            <td><div class="rating rating-5 size-13 width-100"><!-- rating-0 ... rating-5 --></div></td>
                            <td>
                                <div class="progress progress-xxs margin-bottom-0">
                                    <div class="progress-bar progress-bar-default" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%; min-width: 2em;">
                                        <span class="sr-only">80% Complete</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <ul class="list-inline nomargin size-12">
                                    <li><a href="#" class="icon-facebook margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook"></a></li>
                                    <li><a href="#" class="icon-twitter margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter"></a></li>
                                    <li><a href="#" class="icon-gplus margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus"></a></li>
                                    <li><a href="#" class="icon-linkedin margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin"></a></li>
                                    <li><a href="#" class="icon-pinterest margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest"></a></li>
                                </ul>
                            </td>
                            <td>
                                <a href="#" class="btn btn-default btn-xs"><i class="fa fa-edit white"></i> Edit </a>
                                <a href="#" class="btn btn-default btn-xs"><i class="fa fa-times white"></i> Delete </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <!-- /panel content -->
        <!-- panel footer -->
        <div class="panel-footer">

            <!-- pre code -->
            <div class="text-left">
                <a class="btn btn-xs btn-info" href="javascript:;" onclick="jQuery('#pre-3').slideToggle();">Show Code</a>
            </div>
<pre id="pre-3" class="text-left noradius text-danger softhide">&lt;div class="table-responsive"&gt;
	&lt;table class="table nomargin"&gt;
		&lt;thead&gt;
			&lt;tr&gt;
				&lt;th&gt;&lt;i class="fa fa-building"&gt;&lt;/i&gt; Column name&lt;/th&gt;
				&lt;th&gt;&lt;i class="fa fa-calendar"&gt;&lt;/i&gt; Column name&lt;/th&gt;
				&lt;th&gt;&lt;i class="glyphicon glyphicon-send"&gt;&lt;/i&gt; Column name&lt;/th&gt;
			&lt;/tr&gt;
		&lt;/thead&gt;
		&lt;tbody&gt;
			&lt;tr class="success"&gt;
				&lt;td&gt;Value 1&lt;/td&gt;
				&lt;td&gt;Value 2&lt;/td&gt;
				&lt;td&gt;Value 3&lt;/td&gt;
			&lt;/tr&gt;
			&lt;tr class="warning"&gt;
				&lt;td&gt;Value 1&lt;/td&gt;
				&lt;td&gt;Value 2&lt;/td&gt;
				&lt;td&gt;Value 3&lt;/td&gt;
			&lt;/tr&gt;
			&lt;tr class="danger"&gt;
				&lt;td&gt;Value 1&lt;/td&gt;
				&lt;td&gt;Value 2&lt;/td&gt;
				&lt;td&gt;Value 3&lt;/td&gt;
			&lt;/tr&gt;
			&lt;tr class="info"&gt;
				&lt;td&gt;Value 1&lt;/td&gt;
				&lt;td&gt;Value 2&lt;/td&gt;
				&lt;td&gt;Value 3&lt;/td&gt;
			&lt;/tr&gt;
			&lt;tr class="active"&gt;
				&lt;td&gt;Value 1&lt;/td&gt;
				&lt;td&gt;Value 2&lt;/td&gt;
				&lt;td&gt;Value 3&lt;/td&gt;
			&lt;/tr&gt;
			&lt;tr&gt;
				&lt;td&gt;Value 1&lt;/td&gt;
				&lt;td&gt;Value 2&lt;/td&gt;
				&lt;td&gt;Value 3&lt;/td&gt;
			&lt;/tr&gt;
		&lt;/tbody&gt;
	&lt;/table&gt;
&lt;/div&gt;
</pre>
            <!-- /pre code -->

        </div>
        <!-- /panel footer -->

    </div>
    <!-- /PANEL -->
    <!--
        PANEL CLASSES:
            panel-default
            panel-danger
            panel-warning
            panel-info
            panel-success

        INFO: 	panel collapse - stored on user localStorage (handled by app.js _panels() function).
                All pannels should have an unique ID or the panel collapse status will not be stored!
    -->
    <div id="panel-5" class="panel panel-default">
        <div class="panel-heading">
            <span class="title elipsis">
                <strong>CONDENSED TABLE</strong> <!-- panel title -->
            </span>

            <!-- right options -->
            <ul class="options pull-right list-inline">
                <li><a href="#" class="opt panel_colapse" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Colapse"></a></li>
                <li><a href="#" class="opt panel_fullscreen hidden-xs" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Fullscreen"><i class="fa fa-expand"></i></a></li>
                <li><a href="#" class="opt panel_close" data-confirm-title="Confirm" data-confirm-message="Are you sure you want to remove this panel?" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Close"><i class="fa fa-times"></i></a></li>
            </ul>
            <!-- /right options -->

        </div>

        <!-- panel content -->
        <div class="panel-body">

            <div class="table-responsive">
                <table class="table table-condensed table-vertical-middle nomargin">
                    <thead>
                        <tr>
                            <th class="width-30">Img</th>
                            <th>Column name</th>
                            <th>Ratings</th>
                            <th>Progress</th>
                            <th>Share</th>
                            <th>Column name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center"><img src="assets/images/male.png" alt="" width="20"></td>
                            <td>Value 1</td>
                            <td><div class="rating rating-0 size-13 width-100"><!-- rating-0 ... rating-5 --></div></td>
                            <td>
                                <div class="progress progress-xxs margin-bottom-0">
                                    <div class="progress-bar progress-bar-default" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%; min-width: 2em;">
                                        <span class="sr-only">80% Complete</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <ul class="list-inline nomargin size-12">
                                    <li><a href="#" class="icon-facebook margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook"></a></li>
                                    <li><a href="#" class="icon-twitter margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter"></a></li>
                                    <li><a href="#" class="icon-gplus margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus"></a></li>
                                    <li><a href="#" class="icon-linkedin margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin"></a></li>
                                    <li><a href="#" class="icon-pinterest margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest"></a></li>
                                </ul>
                            </td>
                            <td><span class="label label-success">Approved </span></td>
                        </tr>
                        <tr>
                            <td class="text-center"><img src="assets/images/female.png" alt="" width="20"></td>
                            <td>Value 2</td>
                            <td><div class="rating rating-1 size-13 width-100"><!-- rating-0 ... rating-5 --></div></td>
                            <td>
                                <div class="progress progress-xxs margin-bottom-0">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%; min-width: 2em;">
                                        <span class="sr-only">80% Complete</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <ul class="list-inline nomargin size-12">
                                    <li><a href="#" class="icon-facebook margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook"></a></li>
                                    <li><a href="#" class="icon-twitter margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter"></a></li>
                                    <li><a href="#" class="icon-gplus margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus"></a></li>
                                    <li><a href="#" class="icon-linkedin margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin"></a></li>
                                    <li><a href="#" class="icon-pinterest margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest"></a></li>
                                </ul>
                            </td>
                            <td><span class="label label-info">Pending </span></td>
                        </tr>
                        <tr>
                            <td class="text-center"><img src="assets/images/female.png" alt="" width="20"></td>
                            <td>Value 3</td>
                            <td><div class="rating rating-2 size-13 width-100"><!-- rating-0 ... rating-5 --></div></td>
                            <td>
                                <div class="progress progress-xxs margin-bottom-0">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%; min-width: 2em;">
                                        <span class="sr-only">80% Complete</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <ul class="list-inline nomargin size-12">
                                    <li><a href="#" class="icon-facebook margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook"></a></li>
                                    <li><a href="#" class="icon-twitter margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter"></a></li>
                                    <li><a href="#" class="icon-gplus margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus"></a></li>
                                    <li><a href="#" class="icon-linkedin margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin"></a></li>
                                    <li><a href="#" class="icon-pinterest margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest"></a></li>
                                </ul>
                            </td>
                            <td><span class="label label-warning">Suspended </span></td>
                        </tr>
                        <tr>
                            <td class="text-center"><img src="assets/images/male.png" alt="" width="20"></td>
                            <td>Value 4</td>
                            <td><div class="rating rating-3 size-13 width-100"><!-- rating-0 ... rating-5 --></div></td>
                            <td>
                                <div class="progress progress-xxs margin-bottom-0">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%; min-width: 2em;">
                                        <span class="sr-only">80% Complete</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <ul class="list-inline nomargin size-12">
                                    <li><a href="#" class="icon-facebook margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook"></a></li>
                                    <li><a href="#" class="icon-twitter margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter"></a></li>
                                    <li><a href="#" class="icon-gplus margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus"></a></li>
                                    <li><a href="#" class="icon-linkedin margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin"></a></li>
                                    <li><a href="#" class="icon-pinterest margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest"></a></li>
                                </ul>
                            </td>
                            <td><span class="label label-danger">Blocked </span></td>
                        </tr>
                        <tr>
                            <td class="text-center"><img src="assets/images/male.png" alt="" width="20"></td>
                            <td>Value 5</td>
                            <td><div class="rating rating-4 size-13 width-100"><!-- rating-0 ... rating-5 --></div></td>
                            <td>
                                <div class="progress progress-xxs margin-bottom-0">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%; min-width: 2em;">
                                        <span class="sr-only">80% Complete</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <ul class="list-inline nomargin size-12">
                                    <li><a href="#" class="icon-facebook margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook"></a></li>
                                    <li><a href="#" class="icon-twitter margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter"></a></li>
                                    <li><a href="#" class="icon-gplus margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus"></a></li>
                                    <li><a href="#" class="icon-linkedin margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin"></a></li>
                                    <li><a href="#" class="icon-pinterest margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest"></a></li>
                                </ul>
                            </td>
                            <td><span class="label label-primary">N/A </span></td>
                        </tr>
                        <tr>
                            <td class="text-center"><img src="assets/images/female.png" alt="" width="20"></td>
                            <td>Value 6</td>
                            <td><div class="rating rating-5 size-13 width-100"><!-- rating-0 ... rating-5 --></div></td>
                            <td>
                                <div class="progress progress-xxs margin-bottom-0">
                                    <div class="progress-bar progress-bar-default" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%; min-width: 2em;">
                                        <span class="sr-only">80% Complete</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <ul class="list-inline nomargin size-12">
                                    <li><a href="#" class="icon-facebook margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook"></a></li>
                                    <li><a href="#" class="icon-twitter margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter"></a></li>
                                    <li><a href="#" class="icon-gplus margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus"></a></li>
                                    <li><a href="#" class="icon-linkedin margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin"></a></li>
                                    <li><a href="#" class="icon-pinterest margin-top-6" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest"></a></li>
                                </ul>
                            </td>
                            <td>
                                <a href="#" class="btn btn-default btn-xs"><i class="fa fa-edit white"></i> Edit </a>
                                <a href="#" class="btn btn-default btn-xs"><i class="fa fa-times white"></i> Delete </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <!-- /panel content -->
        <!-- panel footer -->
        <div class="panel-footer">

            <!-- pre code -->
            <div class="text-left">
                <a class="btn btn-xs btn-info" href="javascript:;" onclick="jQuery('#pre-4').slideToggle();">Show Code</a>
            </div>
<pre id="pre-4" class="text-left noradius text-danger softhide">&lt;div class="table-responsive"&gt;
	&lt;table class="table table-condensed nomargin"&gt;
		&lt;thead&gt;
			&lt;tr&gt;
				&lt;th&gt;Column name&lt;/th&gt;
				&lt;th&gt;Column name&lt;/th&gt;
				&lt;th&gt;Column name&lt;/th&gt;
			&lt;/tr&gt;
		&lt;/thead&gt;
		&lt;tbody&gt;
			&lt;tr&gt;
				&lt;td&gt;Value 1&lt;/td&gt;
				&lt;td&gt;Value 2&lt;/td&gt;
				&lt;td&gt;Value 3&lt;/td&gt;
			&lt;/tr&gt;
			&lt;tr&gt;
				&lt;td&gt;Value 1&lt;/td&gt;
				&lt;td&gt;Value 2&lt;/td&gt;
				&lt;td&gt;Value 3&lt;/td&gt;
			&lt;/tr&gt;
			&lt;tr&gt;
				&lt;td&gt;Value 1&lt;/td&gt;
				&lt;td&gt;Value 2&lt;/td&gt;
				&lt;td&gt;Value 3&lt;/td&gt;
			&lt;/tr&gt;
			&lt;tr&gt;
				&lt;td&gt;Value 1&lt;/td&gt;
				&lt;td&gt;Value 2&lt;/td&gt;
				&lt;td&gt;Value 3&lt;/td&gt;
			&lt;/tr&gt;
			&lt;tr&gt;
				&lt;td&gt;Value 1&lt;/td&gt;
				&lt;td&gt;Value 2&lt;/td&gt;
				&lt;td&gt;Value 3&lt;/td&gt;
			&lt;/tr&gt;
			&lt;tr&gt;
				&lt;td&gt;Value 1&lt;/td&gt;
				&lt;td&gt;Value 2&lt;/td&gt;
				&lt;td&gt;Value 3&lt;/td&gt;
			&lt;/tr&gt;
		&lt;/tbody&gt;
	&lt;/table&gt;
&lt;/div&gt;
</pre>
            <!-- /pre code -->

        </div>
        <!-- /panel footer -->

    </div>
    <!-- /PANEL -->

</div>